body {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: var(--color-body);

  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: var(--color-primaty);
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a:focus,
button:focus,
label:focus,
input:focus,
textarea:focus,
select:focus,
svg *:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible,
label:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
svg *:focus-visible {
  outline: 2px dashed var(--color-accent);
  outline-offset: 2px;
  transition-duration: 0s !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

.logo {
  .router-link-active {
    opacity: 1;
  }
}

.router-link-active {
  opacity: 0.4;
}