body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-body);

  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: var(--color-primaty);
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

.logo {
  .router-link-active {
    opacity: 1;
  }
}

.router-link-active {
  opacity: 0.4;
}