:root {
  --color-primaty: #503217;
  --color-body: #EEEDE7;
  --color-border: #E8E6DE;
  --color-bg-second: #E2DFCF;
  --color-inner-bg: #EBE9E0;
  --color-accent: #D3744A;
  --color-text-muted: #8F7D6A;
  --color-text: #160D05;
  --color-white: #F2F2F2;

  --fonts-second: 'Montserrat', san-serif;

  --transition-duration: 0.4s;
  --transition-duration-large: 0.6s;

  --border-radius-m: 6px;
  --border-radius-l: 10px;

  --button-height: 48px;

  --container-width: 1332px;
  --container-padding-x: 16px;

  --section-padding-y: 50px;

  --z-index-icon-health-bg: 10;
  --z-index-icon-health-extra: 20;
  --z-index-header: 999;
  --z-index-burger-menu: 1000;
  --z-index-burger-button: 1100;
}